<!-- views/includes/head.ejs -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RICH SIKER</title>
  <link rel="stylesheet" href="/css/style.css">
<<<<<<< HEAD
=======
<!-- Slick Carousel CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

>>>>>>> 91aef78 (Добавил слайдер. Поменял видео)
</head>